projects/soap-samples/library/library-web/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.library.sample/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.library.sample/" name="LibrarayService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.library.sample/" schemaLocation="http://localhost:9999/lib?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getUserByUsername">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getUserByUsernameResponse">
<part name="return" type="tns:user"></part>
</message>
<message name="addBook">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="addBookResponse"></message>
<message name="removeUser">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="removeUserResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="isLoaned">
<part name="arg0" type="tns:book"></part>
</message>
<message name="isLoanedResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="loan">
<part name="arg0" type="tns:book"></part>
<part name="arg1" type="tns:user"></part>
</message>
<message name="loanResponse"></message>
<message name="getAuthor">
<part name="arg0" type="tns:book"></part>
</message>
<message name="getAuthorResponse">
<part name="return" type="tns:author"></part>
</message>
<message name="getAuthorOfBook">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getAuthorOfBookResponse">
<part name="return" type="tns:author"></part>
</message>
<message name="usernameExists">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="usernameExistsResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="hasUserLoanBook">
<part name="arg0" type="tns:book"></part>
<part name="arg1" type="tns:user"></part>
</message>
<message name="hasUserLoanBookResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="removeBook">
<part name="arg0" type="tns:book"></part>
</message>
<message name="removeBookResponse"></message>
<message name="hasBook">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="hasBookResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getBook">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getBookResponse">
<part name="return" type="tns:book"></part>
</message>
<message name="isBookAvailable">
<part name="arg0" type="tns:book"></part>
</message>
<message name="isBookAvailableResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="returnLoan">
<part name="arg0" type="tns:book"></part>
<part name="arg1" type="tns:user"></part>
</message>
<message name="returnLoanResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="registerUser">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="registerUserResponse"></message>
<portType name="ILibraray">
<operation name="getUserByUsername">
<input wsam:Action="http://service.library.sample/ILibraray/getUserByUsernameRequest" message="tns:getUserByUsername"></input>
<output wsam:Action="http://service.library.sample/ILibraray/getUserByUsernameResponse" message="tns:getUserByUsernameResponse"></output>
</operation>
<operation name="addBook">
<input wsam:Action="http://service.library.sample/ILibraray/addBookRequest" message="tns:addBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/addBookResponse" message="tns:addBookResponse"></output>
</operation>
<operation name="removeUser">
<input wsam:Action="http://service.library.sample/ILibraray/removeUserRequest" message="tns:removeUser"></input>
<output wsam:Action="http://service.library.sample/ILibraray/removeUserResponse" message="tns:removeUserResponse"></output>
</operation>
<operation name="isLoaned">
<input wsam:Action="http://service.library.sample/ILibraray/isLoanedRequest" message="tns:isLoaned"></input>
<output wsam:Action="http://service.library.sample/ILibraray/isLoanedResponse" message="tns:isLoanedResponse"></output>
</operation>
<operation name="loan" parameterOrder="arg0 arg1">
<input wsam:Action="http://service.library.sample/ILibraray/loanRequest" message="tns:loan"></input>
<output wsam:Action="http://service.library.sample/ILibraray/loanResponse" message="tns:loanResponse"></output>
</operation>
<operation name="getAuthor">
<input wsam:Action="http://service.library.sample/ILibraray/getAuthorRequest" message="tns:getAuthor"></input>
<output wsam:Action="http://service.library.sample/ILibraray/getAuthorResponse" message="tns:getAuthorResponse"></output>
</operation>
<operation name="getAuthorOfBook">
<input wsam:Action="http://service.library.sample/ILibraray/getAuthorOfBookRequest" message="tns:getAuthorOfBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/getAuthorOfBookResponse" message="tns:getAuthorOfBookResponse"></output>
</operation>
<operation name="usernameExists">
<input wsam:Action="http://service.library.sample/ILibraray/usernameExistsRequest" message="tns:usernameExists"></input>
<output wsam:Action="http://service.library.sample/ILibraray/usernameExistsResponse" message="tns:usernameExistsResponse"></output>
</operation>
<operation name="hasUserLoanBook" parameterOrder="arg0 arg1">
<input wsam:Action="http://service.library.sample/ILibraray/hasUserLoanBookRequest" message="tns:hasUserLoanBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/hasUserLoanBookResponse" message="tns:hasUserLoanBookResponse"></output>
</operation>
<operation name="removeBook">
<input wsam:Action="http://service.library.sample/ILibraray/removeBookRequest" message="tns:removeBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/removeBookResponse" message="tns:removeBookResponse"></output>
</operation>
<operation name="hasBook">
<input wsam:Action="http://service.library.sample/ILibraray/hasBookRequest" message="tns:hasBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/hasBookResponse" message="tns:hasBookResponse"></output>
</operation>
<operation name="getBook">
<input wsam:Action="http://service.library.sample/ILibraray/getBookRequest" message="tns:getBook"></input>
<output wsam:Action="http://service.library.sample/ILibraray/getBookResponse" message="tns:getBookResponse"></output>
</operation>
<operation name="isBookAvailable">
<input wsam:Action="http://service.library.sample/ILibraray/isBookAvailableRequest" message="tns:isBookAvailable"></input>
<output wsam:Action="http://service.library.sample/ILibraray/isBookAvailableResponse" message="tns:isBookAvailableResponse"></output>
</operation>
<operation name="returnLoan" parameterOrder="arg0 arg1">
<input wsam:Action="http://service.library.sample/ILibraray/returnLoanRequest" message="tns:returnLoan"></input>
<output wsam:Action="http://service.library.sample/ILibraray/returnLoanResponse" message="tns:returnLoanResponse"></output>
</operation>
<operation name="registerUser">
<input wsam:Action="http://service.library.sample/ILibraray/registerUserRequest" message="tns:registerUser"></input>
<output wsam:Action="http://service.library.sample/ILibraray/registerUserResponse" message="tns:registerUserResponse"></output>
</operation>
</portType>
<binding name="LibrarayPortBinding" type="tns:ILibraray">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getUserByUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="isLoaned">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="loan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="getAuthor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="getAuthorOfBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="usernameExists">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="hasUserLoanBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="hasBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="getBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="isBookAvailable">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="returnLoan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.library.sample/"></soap:body>
</output>
</operation>
</binding>
<service name="LibrarayService">
<port name="LibrarayPort" binding="tns:LibrarayPortBinding">
<soap:address location="http://localhost:9999/lib"></soap:address>
</port>
</service>
</definitions>